{% extends "base.html" %}
{% block title %}
    <title>Insert College Data</title>
{% endblock %}
{% block body %}
{% load static %}
<div class="container-fluid" style="margin:20px;">
    <h2>Insert College Data</h2>
    <br>
<form name="insertform" action="insert" method="POST" >
    {% csrf_token %}
        <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="name">College Name</label>
                  <input type="text" name="name" class="form-control mx-sm-3" placeholder="College Name" required>
                </div>
        </div>
        <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="jeemains">JEE Mains Cutoff</label>
                  <input type="text" name="jeemains" class="form-control mx-sm-3" placeholder="JEE Mains Cutoff" required>
                </div>
        </div>
        <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="jeeadvance">JEE Advance Cutoff</label>
                  <input type="text" name="jeeadvance" class="form-control mx-sm-3" placeholder="JEE Advance Cutoff">
                </div>
        </div>
        <div class="form-row" style="text-align:center;">
                <div class="col-md-4 mb-3">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
        </div>
      </form>
</div>
{% endblock%}