{% extends "base.html" %}

{% block title %}
    <title>About</title>
{% endblock %}
    
{% block body %}
{% load static %}
<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">About</h1>
        </div>
</div>
<div class="container-fluid" style="text-align:center">
    <h2><b>Section 5</b></h2>
    <h3>Batch 9</h3>
        <h4><b>160030172</b> - B. Juhi Sravya</h4>
        <h4><b>160031481</b> - Yaganti Venkatesh</h4>
        <h4><b>160031621</b> - Vatyam Sai Yashasvi Kumar</h4>
  
</div>


{% endblock%}